@import url('https://fonts.googleapis.com/css2?family=Charm&family=Fira+Mono:wght@700&family=Montserrat:wght@200&display=swap');

/* basic styling */


:root {
    --dark-main-color: #345511 ;
    --light-main-color: #3f6634;
    --white-color: #eff1e4;
    --dark-second-color: #dbb994;
    --light-second-color: #f4ddb9;
    --title-font: 'Charm', cursive;
    --header-font: 'Fira Mono', monospace;
    --paragraph-font: 'Montserrat', sans-serif;
}

h1 {
    font-family: var(--title-font);
}

h2, h3,h4, h5, h6 {
    padding: 0 10px 0 10px;
    font-family: var(--header-font);
    color: var(--dark-second-color);
}

p {
    padding: 0 10px 0 10px;
    font-family: var(--paragraph-font);
    color: var(--light-second-color);
}

img {
    max-width: 90%;
    padding: 1rem;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--light-second-color);
    font-family: var(--paragraph-font);
    line-height: .5;
    text-align: center;
}

a:hover {
    background-color: var(--light-second-color);
    transition-duration: .5s;
    color: var(--dark-main-color);

}

body {
    margin: 0%;
    background-color: var(--light-second-color);
}

/* header styling */


header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 3fr 1fr;
    background-color: var(--dark-main-color);
    max-height: 300px;
    width: 100%;
}

header img {
    grid-row: 1/3;
    grid-column: 1/2;
}

header h1 {
    grid-row: 1;
    grid-column: 3/6;
    color: var(--light-second-color);
    text-align: center;
    font-size: 50px;
}

header .socials {
    display: flex;
    grid-row: 1;
    grid-column: 8/9;
    
}

.socials img {
    padding: 0;
}

header .socials a {
    padding: .5rem;
    max-height: 50%;
}

nav {

    grid-row: 2;
    grid-column: 1/9;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-right: 10rem;
}

nav ul li{
    width: 100%
}

nav ul li a{
    text-align: center;
    background-color: var(--light-main-color);
    padding: 5% 44% 5% 44%;
}



#smallMenu {
    display: none;
}


/* footer styling */
footer {
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    background-color: var(--dark-main-color);
}

footer .socials {
    margin-right: 10px;
}

footer iframe {
    margin-left: 10px;
}
/* home styling */

#indexMain {
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: 50px  1fr 2fr;
    gap: 20px;
}

#weatherAlert {
    display: none;
    grid-column: 1/4;
    grid-row: 1.2;
    background-color: var(--dark-second-color);
}

#reviews {
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: var(--light-main-color);
    border: 7px solid var(--dark-second-color);
    border-radius: 15px;
    margin: 10px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--light-main-color);
    border: 7px solid var(--dark-second-color);
    border-radius: 15px;
    margin: 10px;
}
.contact h3 {
    text-align: center;
    grid-column: 1/3;
    grid-row:  1/2;
}
.contactAddress {
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
}
.contactOther {
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

#temple {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: var(--light-main-color);
    border: 7px solid var(--dark-second-color);
    border-radius: 15px;
    margin: 10px;
}

#temple img {
    grid-row: 2/3;
    grid-column: 1/2;
    min-width: 90%;
    justify-self: center;
}

#templeInfo {
    display: none;
    grid-row: 2/3;
    grid-column: 1/2;
    color: var(--light-second-color);
    width: 90%;
    justify-self: center;
    margin-top: 1rem;
    transition-duration: 1s;
}


#temple img:hover + #templeInfo {
    display: block;
    background-color: var(--dark-main-color);
    transition-duration: 1s;
    height: 70%;
    opacity: .7;
    
}

#templeInfo:hover {
    display: block;
    background-color: var(--dark-main-color);
    transition-duration: 1s;
    height: 80%;
    opacity: .8;
    
    
}

.bookButton {
    padding: 15px;
    margin: 10px 5% 5px 60%;
    
    text-align: center;
    vertical-align: text-top;
    background-color: var(--dark-main-color);
}


#temple a:hover {
    background-color: var(--light-second-color);
    transition-duration: .5s;
    color: var(--dark-main-color);

}
#localInfo {
    grid-column: 3/4;
    grid-row: 2/4;
    background-color: var(--light-main-color);
    border: 7px solid var(--dark-second-color);
    border-radius: 15px;
    margin: 10px;
}



/* temple styling */

#templeMain {
    background-color: var(--light-second-color);
}

#templeCarousel{
    display: flex;
    flex-direction: column;
    background-color: var(--light-second-color);
}



#templeButtons {
    display: flex;
    justify-content: space-around;
}

#templeButtons button {
    background-color: var(--dark-main-color);
    border: 1px solid var(--light-main-color);
    color: var(--light-second-color);
    padding: 10px 10.5%;
    text-align: center;

}

.carousel {
    display: grid;
    grid-template-rows: 50px 550px .5fr;
    background-color: var(--dark-main-color);
    border: 7px solid var(--dark-second-color);
    margin: 20px 10%;
    border-radius: 15px;
    text-align: center;

}

.carouselImg{
    min-width: 100%;
    max-height: 100%;
    overflow: hidden;
    padding:0%
}
.carousel p {
    margin: 10px 25%;
}

.hidden {
    display: none;
}


.templeInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr .5fr;
}

.templeInfo div:nth-child(1){
    grid-column: 1/3;

}

.templeInfo div ul {
    list-style: none;
    color: var(--light-second-color);
}

.templeInfo div:nth-child(4){
    grid-column: 1/3;

}

#likeDiv img {
    position: absolute;
    right: 10%;
    bottom: 45%;
    max-width: 40px;
    max-height: 40px;
}
/* services styling */

#serviceMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}
.serviceCard {
    margin: 25px;
    height: 90%;
    background-color: var(--dark-main-color);
    border: 7px solid var(--dark-second-color);
    border-radius: 15px;

}

.serviceCard img {
    height: 80%;
    overflow: hidden;
}

#amenities {
    display: flex;
    grid-column: 1/3;
    background-color: var(--light-main-color);
    border: 7px solid var(--dark-second-color);
    justify-content: center;
}

#amenities div ul {
    list-style: none;
    font-family: var(--paragraph-font);
    color: var(--light-second-color);
}

.specialOffer {
    margin: 10px 10%;
    background-color: var(--light-main-color);
    border: 7px solid var(--dark-second-color);
    border-radius: 15px;
}
.specialOffer ul {
    list-style: none;
    color: var(--light-second-color);
}
.specialOffer .bookButton {
    position: relative;
    bottom: 11px;
    left: 20%;
    border: 1px solid;
}

/* application styling */
form {
    margin: 2% 7%;
    color: var(--light-second-color);
    background-color: var(--dark-main-color);
    border: 7px solid var(--dark-second-color);
    border-radius: 15px;
    padding: 20px;
}

form fieldset {
    font-family: var(--paragraph-font);
    border-color: var(--light-second-color);
    background-color: var(--light-main-color);    
}

form fieldset input {
    background-color: var(--white-color);
    margin: 10px
}

form fieldset select {
    margin: 5px;
    border-color: var(--white-color);
}
form fieldset:nth-child(5) label{
    display:flex;
    flex-direction:column;
}
#submitMain {
    text-align: center;
    background-color: var(--light-main-color);
    margin: 10%;
    padding: 6% 10px;
    border: 7px solid var(--dark-second-color);
    border-radius: 15px;
}
form input {
    margin-top: 20px;
}