:root {
    --background:#626868;
    --main-color: #273C2C;
    --accent-color: #e0e0e0;
    --text-color: rgb(116, 196, 126);
    --heading-font: "Baron", "Tahoma", sans-serif;
    --paragraph-font: "Garmond", "Times New Roman", serif;
}
body {
    background-color: var(--background);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    border-radius: 25px;
    display:flex;
    flex-direction: row;
    background-color: var(--main-color);
    padding: 15px;
    margin: 10px;
    color: var(--text-color);
}
header img {
    max-width:120px;
    margin: 10px;
}

body ul {
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-color: var(--main-color);
    padding: 10px;
}
li a {
    color: var(--accent-color);
}
footer {
    color: var(--text-color);
    border-radius: 25px;
    background-color: var(--main-color);
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lastTouch {
    color: var(--accent-color);
}
