@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Quicksand&family=Slabo+27px&display=swap');

:root {

    --mainColor: #043764;
    --secondColor: #2a5280;
    --accentColor: #c9d7ec;

    --headerFont: 'Outfit', sans-serif;
    --paragraphFont: 'Quicksand', sans-serif;
    --titleFont: 'Slabo 27px', serif;    
}

/* general syling */
body {
    background-color: white;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
main {
    width: 100%;
}
#mainDiv {
    background-color: var(--accentColor);
    max-width: 90%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}
h2, h3, h4, h5 {
    font-family: var(--headerFont);
    align-self: flex-start;
    padding-left: 5%;
    }
h2 {
    align-self: center;
}
p {
font-family: var(--paragraphFont);
max-width: 60%;
color: white;
font-size: 115%;
}
.center {
    align-self: center;
}





/* header styling */
header {
    background-color: var(--secondColor);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.boarderTop {
    border: white;
    border-top: 1px solid;
}
#headerDiv {
    display: flex;
    flex-direction: row;
    max-height: 10em;
    justify-content: space-between;
}
#headerContent {
    display: flex;
    flex-direction: row;
}
#title h1 {
    margin-bottom: 0;
}
#title h4 { 
    margin-top: 0;
}
.socials {
    display: flex;
    flex-direction: row;
    background-color:#043764;
    list-style: none;
    align-items: center;
    text-decoration: none;
    padding: 1em;
    margin-left: 3em;

}
.socials li {
    margin: 1em;
    justify-self: center;
    
}
.logo{
    max-width: 25%;

    object-fit: contain;

}
header h1 {
    font-family: var(--titleFont);
}
nav ul {
    width: 100%;
    background-color:#043764;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 -5px 30px rgb(20, 40, 63);
    text-decoration: none;
    padding: 1%;
    margin-right: 3%;
    margin-top: 0px;
}
#headerDate {
    width: 100%;
    background-color:#043764;
    text-align: center;
    padding: 1%;
    color: var(--accentColor);
}
nav ul li {
    text-decoration: none;    
    flex: 1 1 auto;

}
.minimized li {
    display: none;
}
nav ul li a {
    display: block;
    background-color: var(--mainColor);
	color: var(--accentColor);
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}
nav ul li a:hover {
    background-color: var(--secondColor);
    color: var(--accentColor);
}
.active {
    background-color: var(--accentColor);
    color: var(--mainColor);  
}
.extendedBar {
    display: flex;
    flex-direction: column;
}
.extendedBar li {
    display: block;
}
.extend {
    display: block;
}
#navbar li:first-child {
	display: block;
}
.extendedBar li:first-child {
    display: none;
}





/* footer styling */
footer {
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--accentColor);
}
footer img {
    margin: 1em;
    align-self: center;
}
.upperDiv {
    display: flex;
    flex-direction: column;

}
#footText1 {
    display: flex;
    flex-direction: column;
    margin: 3em;
    align-items: center;
}
#footText2 {
    display: flex;
    flex-direction: column;
    margin: 3em;
    align-items: center;
}
#footText2 a{
    display: block;
    background-color: var(--secondColor);
	color: var(--accentColor);
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}
.subDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}





/* home cards styling */
.contentCard {
    background-color: var(--secondColor);
    height: 10em;
    margin: 1em;
    text-align: center;
    color: white;
}
.contentCard h2 {
    background-color: var(--mainColor);
}
#heroCard {
    
    position: relative;
    max-height: 1700px;
}
#heroCard img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    min-height: 10em;

}
#heroHeader {
    position: absolute;
    padding: 1em;
    opacity: .8;
    top: 0%;
    left: 5%;
}
#heroInvite {
    text-decoration: none;
    position: absolute;
    background-color: var(--accentColor);
    color:rgb(20, 40, 63);
    padding: .5em;
    bottom: 15%;
    right: 5%;
    border-radius: 25px;
    opacity: .8;
    transition: opacity 0.3s;
    transition: background-color 0.3s;
}
#heroInvite:hover{
    opacity: 1;



}
#spotlightCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}
.spotlight {
    display: flex;
    flex-direction:column;
    background-color: var(--mainColor);
    min-width: 40%;
    height: fit-content;
    margin: 1em;
    text-align: center;
    color: white;
}
.spotlight img {
    align-self: center;
    width: 80%;
}
.spotlight p {

    align-self: center;
}
.noDateBanner {
    display: none;
}
.dateBanner {
    display: block;
}
#datedBanner {
    background-color: var(--secondColor);
    padding: 2em;
    text-align: center;
    color:aliceblue;
}
#eventCard {
    height: 80%;
}
#eventContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#eventContent img {
    height: 40%;
    width: 100%;
}
#weatherCard {
    height: 80%;
}
#weatherContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#weatherContent img {
    height: 10%;
    width: 40%;
}
#weatherContent h2 {
    width: 80%;
}
#newsCard {
    height: fit-content;
}
#newsContent {
    display: flex;


}
#newsContent img {
    margin: 10px;
    width: 40%;
    height: 90%;
}
#newsText {
    display: flex;
    flex-direction: column;
    justify-items: right;
}
#newsText p {
    text-align: center;
    margin: 10px;
    padding: 0px;
}
#joinCard {
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.joinButton {
    text-decoration: none;

    background-color: var(--accentColor);
    color:rgb(20, 40, 63);
    margin-top: 10%;
    padding: .5em;
    border-radius: 25px;
}



/* discover page styling */

#discoverMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discoverCard {
    display: flex;
    flex-direction: column;
    background-color:var(--secondColor);
    width:60%;
    margin: .5em;
    justify-content: space-between;
    align-items: center;
}
.discoverCard picture {
    justify-self: flex-end;
    }
.discoverCard p {
    text-align: center;
}



/* join page styling  */
form {
    width: 80%;
    background-color: var(--secondColor);
}
fieldset {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border-radius: 20px;
    padding: .5em;
    background-color: var(--accentColor);
}
legend {
    margin: 0 1em;
    padding: 0 1rem;
    background-color: var(--accentColor);
    border-radius: 20px;
}
label {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    color: var(--secondColor);
    font-size: .8;
}
.radioList .option {
    display: flex;
    
}
.radioTier {
    margin: 0 2em;
}
.tierHover {
    display: none;
    background-color: var(--mainColor);
    padding: 1em;
    max-width: 50%;
}
.tierHover h4 {
    background-color: var(--accentColor);
    padding: .5em;
}
.radioTier:hover {
    color: orangered
}
.radioTier:hover + .tierHover {
    display: block;
}
#thankYouMain {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accentColor);

}
#thankText {
    margin: 10em;
    margin-top: 2em;
    padding: 5em;
    background-color:#5c84be;
    border-radius: 20px;
    color:rgb(20, 40, 63);
    font-size: 2em
}
.joinMain {
    display: flex;
    justify-content: center;
}



/* directory page styling */
.diretorMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondColor);
}
.cardsDiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr)
}
.cardsDiv .bCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mainColor);
    border: 5px solid var(--accentColor);
    border-radius: 30px;
    margin: 5px;
    text-align: center;

}
.cardsDiv .bCard img {
    max-width: 90%;
    margin-top: 5px;
    border: 2px solid white;

}
.cardsDiv .bCard a {
    color: white;
    margin: 15px;
}
#displaySwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 5px;
}
#displaySwitch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.switcher {
    position: absolute;
    cursor: pointer;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.switcher:before {
    position: absolute;
    content: "☰";
    text-align: center;
    justify-content: center;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .switcher {
    background-color: #2196F3;
}
input:focus + .switcher {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .switcher:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.listDiv {
    color: white;
}  
.listDiv .bCard{
    color: white;
}