@media only screen and (min-width: 37.5em) {

    main {
        background-color: var(--accentColor);
        max-width: 90%;
        min-width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        align-items: center;
    }

    #spotlightCard {
        flex-direction: row;
    }

    .contentCard {
        grid-column: 1/3;
    }

    #weatherCard {
        grid-column: 2/3;
        grid-row: 5;
        }

    #eventCard {
        grid-column: 1/2;
        grid-row: 5;
    }

    footer {
        background-color: var(--mainColor);
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--accentColor);
    }
    
    footer img {
        margin: 1em;
    }
    
    .upperDiv {
        display: flex;
        flex-direction: row;
    
    }
    
    #footText1 {
        display: flex;
        flex-direction: column;
        margin: 3em;
        align-items: center;
    }
    
    #footText2 {
        display: flex;
        flex-direction: column;
        margin: 3em;
        align-items: center;
    }
    
    #footText2 a{
        display: block;
        background-color: var(--secondColor);
        color: var(--accentColor);
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 0.9rem;
    }
    
    .subDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}