@media only screen and (min-width: 37.5em) {


   /* general styling  */
   #mainDiv {
    background-color: var(--accentColor);
    max-width: 90%;
    min-width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
}



   /* footer styling */
   footer {
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--accentColor);
}
footer img {
    margin: 1em;
}
.upperDiv {
    display: flex;
    flex-direction: row;

}
#footText1 {
    display: flex;
    flex-direction: column;
    margin: 3em;
    align-items: center;
}
#footText2 {
    display: flex;
    flex-direction: column;
    margin: 3em;
    align-items: center;
}
#footText2 a{
    display: block;
    background-color: var(--secondColor);
    color: var(--accentColor);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 0.9rem;
}
.subDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


   /* home card styling */
    #heroInvite {
        padding: 3em;
    }
    #spotlightCard {
        flex-direction: row;
    }
    .contentCard {
        grid-column: 1/3;
    }
    #weatherCard {
        grid-column: 2/3;
        grid-row: 5;
        }
    #eventCard {
        grid-column: 1/2;
        grid-row: 5;
    }

    /* discover styling */

    .discoverCard {
        flex-direction: row;
    }
    .discoverCard picture :hover {
        transform: scale(1.1)
    }
    
    /* directory stylink */
    .cardsDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    #contactMain {
        flex-direction: row;
    }
}

